In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
pwd

'C:\\Users\\kunjk\\Desktop\\spark'

In [18]:
pd.read_csv('annual.csv',header=2).head(2)

,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890","ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)"
0,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...

In [5]:
#cerating spark session
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [7]:
spark

In [9]:
df_pyspark = spark.read.csv('annual.csv')

In [15]:
df_pyspark=spark.read.option('header','true').csv('annual.csv')

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [19]:
df_pyspark.head(2)

[Row(Year='2021', Industry_aggregation_NZSIOC='Level 1', Industry_code_NZSIOC='99999', Industry_name_NZSIOC='All industries', Units='Dollars (millions)', Variable_code='H01', Variable_name='Total income', Variable_category='Financial performance', Value='757,504', Industry_code_ANZSIC06='ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)'),
 Row(Year='2021', Industry_aggregation_NZSIOC='Level 1', Industry_code_NZSIOC='99999', Industry_name_NZSIOC='All industries', Units='Dollars (millions)', Variable_code='H04', Variable_name='Sales, government funding, grants and subsidies', Variable_category='Financial performance', Value='674,890', Industry_code_ANZSIC06='ANZSIC06 divisions A-S (excluding classes K6330, L6711, O7552, O760, O771, O772, S9540, S9601, S9602, and S9603)')]

In [20]:
df_pyspark.printSchema()

root
 |-- Year: string (nullable = true)
 |-- Industry_aggregation_NZSIOC: string (nullable = true)
 |-- Industry_code_NZSIOC: string (nullable = true)
 |-- Industry_name_NZSIOC: string (nullable = true)
 |-- Units: string (nullable = true)
 |-- Variable_code: string (nullable = true)
 |-- Variable_name: string (nullable = true)
 |-- Variable_category: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Industry_code_ANZSIC06: string (nullable = true)