In [22]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import col,array

In [2]:
spark = SparkSession.builder.appName("array type column").getOrCreate()

In [16]:
data = [('abc',[1,2]),('mno',[4,5]),('xyz',[7,8])]

schema = StructType([StructField('id',StringType()),
                     StructField('numbers',ArrayType(IntegerType()))
                    ])

df = spark.createDataFrame(data=data,schema=schema)
df.show()
df.printSchema()

+---+-------+
| id|numbers|
+---+-------+
|abc| [1, 2]|
|mno| [4, 5]|
|xyz| [7, 8]|
+---+-------+

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [19]:
df1 = df.withColumn('firstNumber',col('numbers')[0])
df1.show()

+---+-------+-----------+
| id|numbers|firstNumber|
+---+-------+-----------+
|abc| [1, 2]|          1|
|mno| [4, 5]|          4|
|xyz| [7, 8]|          7|
+---+-------+-----------+

In [20]:
df2 = df1.withColumn('secondNumber',df1.numbers[1])
df2.show()

+---+-------+-----------+------------+
| id|numbers|firstNumber|secondNumber|
+---+-------+-----------+------------+
|abc| [1, 2]|          1|           2|
|mno| [4, 5]|          4|           5|
|xyz| [7, 8]|          7|           8|
+---+-------+-----------+------------+

In [24]:
#combine 2 columns to a array
data = [(1,2),(3,4)]
schema = ['num1','num2']

df = spark.createDataFrame(data=data,schema=schema)
df.show()


df1 = df.withColumn('array',array(df.num1, df.num2))
df1.show()

+----+----+
|num1|num2|
+----+----+
|   1|   2|
|   3|   4|
+----+----+

+----+----+------+
|num1|num2| array|
+----+----+------+
|   1|   2|[1, 2]|
|   3|   4|[3, 4]|
+----+----+------+