In [1]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("columnClass").getOrCreate()

In [3]:
data = [(1,'kunj','200000'),
       (2,'Raman','500000')]

columns = ['id','name','salary']
df = spark.createDataFrame(data=data,schema=columns)

df.show()

df.printSchema()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1| kunj|200000|
|  2|Raman|500000|
+---+-----+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [4]:
df1 = df.withColumn('newcol',lit('newcolVal'))
df1.show()
df1.printSchema()

+---+-----+------+---------+
| id| name|salary|   newcol|
+---+-----+------+---------+
|  1| kunj|200000|newcolVal|
|  2|Raman|500000|newcolVal|
+---+-----+------+---------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- newcol: string (nullable = false)

In [6]:
df.select(df1.name).show()

+-----+
| name|
+-----+
| kunj|
|Raman|
+-----+