In [1]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("ColumnFunctions").getOrCreate()

In [24]:
data = [(1,'Kunj','M','500000'),
       (2,'Raman','M','800000'),
       (3,'Emma','F','200000'),
       (4,'King','M','1000000')]

columns = ['id','name','gender','salary']
df = spark.createDataFrame(data=data,schema=columns)

df.show()

+---+-----+------+-------+
| id| name|gender| salary|
+---+-----+------+-------+
|  1| Kunj|     M| 500000|
|  2|Raman|     M| 800000|
|  3| Emma|     F| 200000|
|  4| King|     M|1000000|
+---+-----+------+-------+

In [25]:
df.select(df.id.alias('emp_id'),df.name.alias('emp_name'),df.salary.alias('emp_salary')).show()

+------+--------+----------+
|emp_id|emp_name|emp_salary|
+------+--------+----------+
|     1|    Kunj|    500000|
|     2|   Raman|    800000|
|     3|    Emma|    200000|
|     4|    King|   1000000|
+------+--------+----------+

In [26]:
df.sort(df.salary.asc()).show()

+---+-----+------+-------+
| id| name|gender| salary|
+---+-----+------+-------+
|  4| King|     M|1000000|
|  3| Emma|     F| 200000|
|  1| Kunj|     M| 500000|
|  2|Raman|     M| 800000|
+---+-----+------+-------+

In [27]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: string (nullable = true)

In [28]:
df1 = df.select(df.id,df.name,df.salary.cast('int'))
df1.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [29]:
df.filter(df.name.like('K%')).show()

+---+----+------+-------+
| id|name|gender| salary|
+---+----+------+-------+
|  1|Kunj|     M| 500000|
|  4|King|     M|1000000|
+---+----+------+-------+