In [1]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("Distinct").getOrCreate()

In [4]:
data = [(1,'Kunj','M','500000'),
       (2,'Raman','M','800000'),
       (3,'Emma','F','200000'),
        (3,'Emma','F','200000'),
       (4,'King','M','1000000')]

columns = ['id','name','gender','salary']
df = spark.createDataFrame(data=data,schema=columns)

df.show()

+---+-----+------+-------+
| id| name|gender| salary|
+---+-----+------+-------+
|  1| Kunj|     M| 500000|
|  2|Raman|     M| 800000|
|  3| Emma|     F| 200000|
|  3| Emma|     F| 200000|
|  4| King|     M|1000000|
+---+-----+------+-------+

In [5]:
df.distinct().show()

+---+-----+------+-------+
| id| name|gender| salary|
+---+-----+------+-------+
|  1| Kunj|     M| 500000|
|  2|Raman|     M| 800000|
|  3| Emma|     F| 200000|
|  4| King|     M|1000000|
+---+-----+------+-------+

In [7]:
df.dropDuplicates(['name','id']).show()

+---+-----+------+-------+
| id| name|gender| salary|
+---+-----+------+-------+
|  3| Emma|     F| 200000|
|  4| King|     M|1000000|
|  1| Kunj|     M| 500000|
|  2|Raman|     M| 800000|
+---+-----+------+-------+