In [1]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("filterAndWhere").getOrCreate()

In [3]:
data = [(1,'Kunj','M','500000'),
       (2,'Raman','M','800000'),
       (3,'Emma','F','200000'),
       (4,'King','M','1000000')]

columns = ['id','name','gender','salary']
df = spark.createDataFrame(data=data,schema=columns)

df.show()

+---+-----+------+-------+
| id| name|gender| salary|
+---+-----+------+-------+
|  1| Kunj|     M| 500000|
|  2|Raman|     M| 800000|
|  3| Emma|     F| 200000|
|  4| King|     M|1000000|
+---+-----+------+-------+

In [4]:
df.filter(df.gender == 'F').show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  3|Emma|     F|200000|
+---+----+------+------+

In [6]:
df.filter("gender == 'F'").show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  3|Emma|     F|200000|
+---+----+------+------+

In [7]:
df.where((df.gender == 'F') & (df.salary == )).show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  3|Emma|     F|200000|
+---+----+------+------+