In [1]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("orderByandSort").getOrCreate()

In [16]:
data = [(1,'Kunj','M','500000','IT'),
       (2,'Raman','M','800000','CA'),
       (3,'Emma','F','200000','Medical'),
       (4,'King','M','1000000','IT')]

columns = ['id','name','gender','salary','Dept']
df = spark.createDataFrame(data=data,schema=columns)

df.show()

+---+-----+------+-------+-------+
| id| name|gender| salary|   Dept|
+---+-----+------+-------+-------+
|  1| Kunj|     M| 500000|     IT|
|  2|Raman|     M| 800000|     CA|
|  3| Emma|     F| 200000|Medical|
|  4| King|     M|1000000|     IT|
+---+-----+------+-------+-------+

In [20]:
df.sort(df.Dept,df.salary.desc()).show()

+---+-----+------+-------+-------+
| id| name|gender| salary|   Dept|
+---+-----+------+-------+-------+
|  2|Raman|     M| 800000|     CA|
|  1| Kunj|     M| 500000|     IT|
|  4| King|     M|1000000|     IT|
|  3| Emma|     F| 200000|Medical|
+---+-----+------+-------+-------+

In [12]:
df.orderBy(df.Dept).show()

+---+-----+------+-------+-------+
| id| name|gender| salary|   Dept|
+---+-----+------+-------+-------+
|  2|Raman|     M| 800000|     CA|
|  1| Kunj|     M| 500000|     IT|
|  3| Emma|     F| 200000|Medical|
|  4| King|     M|1000000|    Mix|
+---+-----+------+-------+-------+