In [1]:
from pyspark.sql import *
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName("Row").getOrCreate()

In [6]:
row = Row('kunj',200000)
print(row[0] + '-' +str(row[1]))

kunj-200000

In [7]:
row = Row(name = 'kunj',salary = 200000)
print(row.name + '-' +str(row.salary))

kunj-200000

In [9]:
row1 = Row(name = 'kunj',salary = 200000)

row2 = Row(name = 'Raman',salary = 400000)

data = [row1,row2]

df = spark.createDataFrame(data)
df.show()
df.printSchema()

+-----+------+
| name|salary|
+-----+------+
| kunj|200000|
|Raman|400000|
+-----+------+

root
 |-- name: string (nullable = true)
 |-- salary: long (nullable = true)

In [12]:
Person = Row('name','age')
person1 = Person('kunj',28)
person2 = Person('Raman',31)

spark.createDataFrame([person1,person2]).show()

+-----+---+
| name|age|
+-----+---+
| kunj| 28|
|Raman| 31|
+-----+---+