In [4]:
from pyspark.sql import *
from pyspark.sql.types import *

In [2]:
spark = SparkSession.builder.appName("schema with the help of struct").getOrCreate()

In [8]:
data = [(1,'kunj',200000),
       (2,'Raman',500000)]

schema = StructType([StructField(name='id',dataType=IntegerType()),
                    StructField(name='name',dataType=StringType()),
                    StructField(name='salary',dataType=IntegerType())])

df = spark.createDataFrame(data=data,schema=schema)

df.show()

df.printSchema()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1| kunj|200000|
|  2|Raman|500000|
+---+-----+------+

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

In [10]:
data = [(1,('kunj','Kinger'),200000),
       (2,('Raman','Kinger'),500000)]

structName = StructType([\
                        StructField('firstName',StringType()),
                        StructField('lastName',StringType())])

schema = StructType([StructField(name='id',dataType=IntegerType()),
                    StructField(name='name',dataType=structName),
                    StructField(name='salary',dataType=IntegerType())])

df = spark.createDataFrame(data=data,schema=schema)

df.show()

df.printSchema()

+---+---------------+------+
| id|           name|salary|
+---+---------------+------+
|  1| {kunj, Kinger}|200000|
|  2|{Raman, Kinger}|500000|
+---+---------------+------+

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- firstName: string (nullable = true)
 |    |-- lastName: string (nullable = true)
 |-- salary: integer (nullable = true)