In [1]:
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("Union").getOrCreate()

In [4]:
data = [(1,'Kunj','M','500000','IT'),
       (2,'Raman','M','800000','CA'),
       (3,'Emma','F','200000','Medical'),
       (4,'King','M','1000000','IT')]

columns = ['id','name','gender','salary','Dept']
df1 = spark.createDataFrame(data=data,schema=columns)
df2 = spark.createDataFrame(data=data,schema=columns)

df1.show()
df2.show()

+---+-----+------+-------+-------+
| id| name|gender| salary|   Dept|
+---+-----+------+-------+-------+
|  1| Kunj|     M| 500000|     IT|
|  2|Raman|     M| 800000|     CA|
|  3| Emma|     F| 200000|Medical|
|  4| King|     M|1000000|     IT|
+---+-----+------+-------+-------+

+---+-----+------+-------+-------+
| id| name|gender| salary|   Dept|
+---+-----+------+-------+-------+
|  1| Kunj|     M| 500000|     IT|
|  2|Raman|     M| 800000|     CA|
|  3| Emma|     F| 200000|Medical|
|  4| King|     M|1000000|     IT|
+---+-----+------+-------+-------+

In [5]:
df1.union(df2).show()

+---+-----+------+-------+-------+
| id| name|gender| salary|   Dept|
+---+-----+------+-------+-------+
|  1| Kunj|     M| 500000|     IT|
|  2|Raman|     M| 800000|     CA|
|  3| Emma|     F| 200000|Medical|
|  4| King|     M|1000000|     IT|
|  1| Kunj|     M| 500000|     IT|
|  2|Raman|     M| 800000|     CA|
|  3| Emma|     F| 200000|Medical|
|  4| King|     M|1000000|     IT|
+---+-----+------+-------+-------+

In [8]:
df3 = df1.unionAll(df2)
df3.show()
df3.distinct().show()

+---+-----+------+-------+-------+
| id| name|gender| salary|   Dept|
+---+-----+------+-------+-------+
|  1| Kunj|     M| 500000|     IT|
|  2|Raman|     M| 800000|     CA|
|  3| Emma|     F| 200000|Medical|
|  4| King|     M|1000000|     IT|
|  1| Kunj|     M| 500000|     IT|
|  2|Raman|     M| 800000|     CA|
|  3| Emma|     F| 200000|Medical|
|  4| King|     M|1000000|     IT|
+---+-----+------+-------+-------+

+---+-----+------+-------+-------+
| id| name|gender| salary|   Dept|
+---+-----+------+-------+-------+
|  1| Kunj|     M| 500000|     IT|
|  2|Raman|     M| 800000|     CA|
|  3| Emma|     F| 200000|Medical|
|  4| King|     M|1000000|     IT|
+---+-----+------+-------+-------+