In [4]:
#use for adding a new column or change value in a column or change column datatype in df

#It is a transformation function

In [14]:
from pyspark.sql import *
from pyspark.sql.functions import col, lit

In [3]:
spark = SparkSession.builder.appName("withColumn").getOrCreate()

In [6]:
data = [(1,'kunj','200000'),
       (2,'Raman','500000')]

columns = ['id','name','salary']
df = spark.createDataFrame(data=data,schema=columns)

df.show()

df.printSchema()

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1| kunj|200000|
|  2|Raman|500000|
+---+-----+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: string (nullable = true)

In [10]:
#changing datatype
df1 = df.withColumn(colName='salary',col=col('salary').cast('Integer'))
df1.printSchema()
df1.show()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)

+---+-----+------+
| id| name|salary|
+---+-----+------+
|  1| kunj|200000|
|  2|Raman|500000|
+---+-----+------+

In [13]:
#updating values in a df
df2 = df1.withColumn('salary',col=col('salary')*2)
df2.show()

+---+-----+-------+
| id| name| salary|
+---+-----+-------+
|  1| kunj| 400000|
|  2|Raman|1000000|
+---+-----+-------+

In [15]:
#adding new column
df3 = df2.withColumn('Country',lit('India'))
df3.show()

+---+-----+-------+-------+
| id| name| salary|Country|
+---+-----+-------+-------+
|  1| kunj| 400000|  India|
|  2|Raman|1000000|  India|
+---+-----+-------+-------+

In [16]:
#copyting the old value from a column and paste in new column

df4 = df3.withColumn('copiedSalary',col('salary'))
df4.show()

+---+-----+-------+-------+------------+
| id| name| salary|Country|copiedSalary|
+---+-----+-------+-------+------------+
|  1| kunj| 400000|  India|      400000|
|  2|Raman|1000000|  India|     1000000|
+---+-----+-------+-------+------------+